.container{
    width: 100%;
    height: 500px;
    border: 2px solid black;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
}
.container>div{
    width: 200px;
    height: 200px;
    border: 5px solid blue;

}
.container>div>div:first-child>img{
    width:100%;
}