.profile-card{
    width: 300px;
    height: 400px;
    padding: 20px;
    margin: auto;
    border: 2px  solid black;
    border-radius: 15px;
    box-shadow: rgba(0,0,0,0.2);
    text-align: center;
}
.profile-card img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}