.productboxcontainer{
    width: 500px;
    height: 1000px;
    margin: 10px;
    padding: 30px;
    border: 3px solid grey;
    border-radius: 15px;
    box-shadow: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    

}
.productboxcontainer img{
    width: 100%;
    border-radius: 10px;
    margin: 20px;

}
.productcontext{
    text-align: center;
}
.productbox h3{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 22px;

}
.productbox p{
    margin-bottom: 20px;
    color: antiquewhite;
}
.buybutton{
    padding: 11px 24px;
    font-size: 14px;
    background-color: aqua;
    color: whitesmoke;
    border-radius: 9px;
    cursor: pointer;
}
.buybutton:hover{
    background-color: #025cbe;
}